<%- include('templates/header'); -%>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <h1 class="old-pretty-title">Cambia dinero de manera fácil y rápida</h1>
          <p id="floro" class="d-none d-sm-none d-md-block">
             Somos el grupo DotCom Money Exchange, aquí puedes obtener el mejor tipo de cambio del día y cambia tu dinero de manera facil y rápida.
             <br/>
             <br />
             ¡No esperes mas tiempo aprovecha nuestra mejor tarifa del día!
          </p>
      </div>
      <div class="col-md-4">
        <div class="calculator">
          <form>
            <div class="h6 text-center tarifa">Tipo de cambio del día: <b>S/.  3.99</b></div>
            <div class="form-group">
                <label for="solesInput">Soles</label>
                <input type="text" class="form-control form-control-lg" id="solesInput" autocomplete="false">
            </div>
            <div class="d-grid gap-2">
                <button class="cambio btn btn-light btn-sm bt-block" type="button"><i class="fas fa-retweet"></i></button>
            </div>
            <div class="form-group">
                <label for="dolaresInput">Dolares</label>
                <input type="text" class="form-control form-control-lg" id="dolaresInput" autocomplete="false">
            </div>
            <br>
            <div class="form-group">
              <button class="btn btn-lg btn-warning bt-block btn-login" type="submit">Iniciar sesión</button>
            </div>
        </form>
        </div>
          
          <div class="mensaje-registrar text-center">
              <p>¿Aún no tienes una cuenta con nosotros?</p>
              <a href="#" class="link-primary lead" style="color: #06AFE4">!Registrate ahora!</a>
          </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="article text-center">
        <h3>Trabajamos con los bancos más importantes del país</h3>
        <p>Transferencia inmediata con los siguientes bancos afiliados</p>
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <img src="/images/bcp-logo.svg" alt="BCP">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/bbva-logo.svg" alt="BBVVA">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/interbank-logo.svg" alt="Interbank">
          </div>
          <div class="col-sm-6 col-md-2">
            <img src="/images/pichincha-logo.svg" alt="Interbank">
          </div>
          <div class="col-sm-6 col-md-4">
            <img src="/images/banbif-logo.svg" alt="Interbank">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<%- include('templates/footer'); -%>