<%- include('templates/header'); -%>
<main>
    <div class="login">
        <div class="col-lg-7">
            <form method="post" action="/login" autocomplete="off">
                <h4 class="fw-bold">Identifícate</h4>
                <div class="form-group">
                    <label for="user">Correo</label>
                    <input type="email" class="form-control form-control-sm" id="user" name="user" autocomplete="false">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password" autocomplete="false">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-dark rounded-pill">Ingresar
                    </button>
                </div>
            </form>
            <div class="mensaje-registrar text-center">
                <p>¿Aún no tienes una cuenta con nosotros?</p>
                <a href="#" class="link-primary">!Registrate ahora!</a>
            </div>
            <% if (data.error) { %>
                <div class="alert alert-danger" role="alert">
                    Error - Vuelve a ingresar los datos
                </div>
             <%   } %>
            
        </div>
    </div>
</main>
<%- include('templates/footer'); -%>