<%- include('templates/header'); -%>
<main>
    <div class="formulario-registro">
        <h2>Registro de nuevo usuario</h2>
        <form class="form-signin" method="POST" action="http://localhost:3000/usuarios/">
            <div class="form-group">
                <label for="nombre">Nombres</label>
                <input type="text" class="form-control" id="nombre" required name="nombre">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" required name="apellidos">
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" required name="correo">
            </div>
            <div class="form-group">
                <label for="tipoDocumento">Tipo de documento</label>
                <select class="form-control" id="tipoDocumento" required name="id_tipo_documento">
                    <option>Seleccione una opción</option>
                    <option value="1">DNI</option>
                    <option value="2">Carnet de extranjeria</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numeroDocumento">Número de documento</label>
                <input type="text" class="form-control" id="numeroDocumento" required name="id_usuario">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" required name="direccion">
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" required name="contrasena">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-light btn-continuar">Registrar usuario
                </button>
            </div>
        </form>
    </div>
</main>
<%- include('templates/footer'); -%>


