@font-face {
  font-family: 'Old English Text MT';
  src: url('../fonts/OLDENGL.TTF'); /* IE9 Compat Modes */
  src: url('../fonts/OLDENGL.TTF') format('ttf'), /* Super Modern Browsers */

}
* {
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Merriweather', serif;
  font-size: 14px;
}
header{
  background-color: #0C2226;
}
.navbar-dotcom .navbar-toggler {
 color: #fff;
font-size: 40px;
}
.logo img {
  height: 97px;
  width:auto;
}
.article .row div {
  padding: 5%;
}
.article img {
  height: 30px;
  width:auto;
}
.btn, .form-control {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}
nav button {
  border-radius: 20px !important;
  margin: 5px;

}
.nav-link {
 color: #06AFE4;
}
.banner {

  padding: 5% 5%;
  padding-top: 60px;
  padding-bottom: 40px;
  /*background-color: #04150E;*/
  background: linear-gradient(to bottom, #123B44 0%, #04150E 100%);
  color: white;
}

.banner h1 {
  font-family: 'Old English Text MT', sans-serif;
  font-size: 50px;
}
.calculator .form-group label {
  font-size:  12.5px;
}
.calculator .form-control {
  margin: 6px auto;
  border-radius: 6px;
  border: 1px solid #04150E;
}
.form-control-sm{
  margin: 6px auto !important;
  border: 1px solid #04150E;
  border-radius: 6px;
}
.cambio {
  background-color: #B6E5D9;
  margin: 1%;
}
.btn-login {
 width:100%;
 border-radius: 50px !important;
 background-color: #FCF212;
 font-weight: 900;
}
.banner .form-group {
  margin: 1%;
}

@media only screen and (max-width: 575px) {
  .banner .row .col-sm-8 p {
      display: none;
  }
  .old-pretty-title {
    text-align: center;
    font-size: 30px !important;
  }
  .tarifa {
    font-size: 14px;
  }
}

.mensaje-registrar {
  margin: 5%;
}

footer {
  text-align: center;
  align-content: center;
  padding: 5% 0;
  font-size: 11px;
}

footer img {
  margin: 5%;
}

/*paso1*/
.formulario {
  max-width: 90%;
}

.formulario-cambio {
  padding: 5%;
}

.paso-descripcion .btn {
  background-color: white;
  box-shadow: 0px 0px 6px -1px #6c757d;
  border-width: 1px;
  color: black;
  margin: 5px;
}

.paso-descripcion .active {
  background-color: #0C2226;
  color: white;
}

.btn-group {
  margin: 15px 0px;
}

.btn-continuar{
  background-color: #0C2226;
  border-radius: 20px;
  color: white;
  margin: 20px auto;
  max-width: 60%;
}
@media only screen and (max-width: 575px) {
  .btn-continuar{
      margin: 0% 10%;
      max-width: 100%;
  }
}

/*paso2*/
.detalle-transaccion {
  padding-top: 30px;
  margin: auto;
  width: 40%;
}

@media only screen and (max-width: 575px) {
  .detalle-transaccion {
      width: 90%;
  }
}

.detalle-marcador {
  font-weight: bold;
}

/*paso 3*/
.form-control {
  margin: 20px auto;
}

.btn-continuar-light {
  background-color: #b6e5d9;
  color: #0C2226;
  font-weight: bold;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

/*registrar cuenta bancaria */
.formulario-registro {
  padding: 5%;
  max-width: 60%;
}

@media only screen and (max-width: 575px) {
  .formulario-registro {
      max-width: 90%;
      margin: auto;
  }
}

/*login*/

.nave{
  float: left;
}
.login{
  background: url(../images/wide-derecha.png);
  background-position: right center, left bottom;
  background-repeat: no-repeat, no-repeat;
 background-size: 36%;
  box-sizing: border-box;
  clear: both;
  padding: 5%;
  max-width: 70%;
  margin: 0 auto;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    color: #bcd1c6;
}
@media only screen and (max-width: 991px) {
  .login {
      background: none;
  }
}

/*historial operaciones*/
.tabla-historial{
  padding-top: 30px;
  margin: auto;
  width: 80%;
}


